@model AviaGlobus.ViewModels.FlightsViewModel;


@{
    ViewData["Title"] = "Рейсы";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<form method="get" asp-action="flights">
    <div class="form-inline form-group">

        <label class="control-label">№ рейса: </label>
        <input  type="number" name="id"  value="@Model.FilterFlightViewModel.SelectId" placeholder="Номер рейса" class=" form-control" />       

        <label class="control-label">Откуда: </label>
        <input type="text" name="departurePoint"  value="@Model.FilterFlightViewModel.SelectDeparturePoint" placeholder="Пункт отправления" class="form-control" />

        <label class="control-label">Куда: </label>
        <input type="text" name="arrivalPoint" value="@Model.FilterFlightViewModel.SelectArrivalPoint" placeholder="Пункт прибытия" class="form-control" />

        <button type="submit" margin-left="10" class="btn" tittle="Поиск"><img src="~/css/Лупа.png" height="35" padding="0" /></button>
    </div>
</form>

<table class="table table-striped table-sm table-hover">
    <tr>
        <td>
            <a asp-action="Flights" asp-route-sortOrder="@Model.SortFlightViewModel.IdSort"
               asp-route-id="@(Model.FilterFlightViewModel.SelectId)"
               asp-route-arrivalPoint="@(Model.FilterFlightViewModel.SelectArrivalPoint)"
               asp-route-departurePoint="@(Model.FilterFlightViewModel.SelectDeparturePoint)">
                Номер рейса
            </a>
        </td>

        <td>
            <a asp-action="Flights" asp-route-sortOrder="@Model.SortFlightViewModel.DeparturePointSort"
               asp-route-id="@(Model.FilterFlightViewModel.SelectId)"
               asp-route-arrivalPoint="@(Model.FilterFlightViewModel.SelectArrivalPoint)"
               asp-route-departurePoint="@(Model.FilterFlightViewModel.SelectDeparturePoint)">
                Пункт отпарвления
            </a>
        </td>

        <td>
            <a asp-action="Flights" asp-route-sortOrder="@Model.SortFlightViewModel.ArrivalPointSort"
               asp-route-id="@(Model.FilterFlightViewModel.SelectId)"
               asp-route-arrivalPoint="@(Model.FilterFlightViewModel.SelectArrivalPoint)"
               asp-route-departurePoint="@(Model.FilterFlightViewModel.SelectDeparturePoint)">
                Пункт прибытия
            </a>
        </td>

        <td>Пересадка</td>

        <td>Тип самолета</td>

        <td>Рейс</td>

        <td>Статус</td>

        <td>Цена билета</td>

        <td>Свободных мест</td>

        <td>
            <a asp-action="Flights" asp-route-sortOrder="@Model.SortFlightViewModel.DepartureDateSort">
                Дата вылета
            </a>
        </td>
        <td>Дата прилёта</td>

        <td>Время вылета</td>

        <td>Время прилета</td>

    </tr>
    @foreach (var item in Model.Flight)
    {
        <tr>
            <td>@item.ID_Flight</td>

            <td>@item.Departure_Point</td>
            <td>@item.Arrival_Point</td>
            <td>@item.Transfer_Point</td>
            @{
                foreach (var planeType in Model.PlaneTypes)
                {
                    if (item.Plane_Type_ID == planeType.ID_Type)
                    {
                        <td>@planeType.Title</td>
                    }
                }
                foreach (var flightTypes in Model.FlightTypes)
                {
                    if (item.Flight_Type_ID == flightTypes.ID_Type)
                    {
                        <td>@flightTypes.Title</td>
                    }
                }
                foreach (var status in Model.Statuses)
                {
                    if (item.Status_ID == status.ID_Status)
                    {
                        <td>@status.Title</td>
                    }
                }
            }

            <td>@item.Ticket_Cost</td>
            <td>@item.Places_Left</td>
            <td>@item.Departure_Date.ToShortDateString()</td>
            <td>@item.Arrival_Date.ToShortDateString()</td>
            <td>@item.Departure_Time</td>
            <td>@item.Arrival_Time</td>

            <td>
                <a class="btn btn-outline-warning" asp-action="EditFlight" asp-controller="home" asp-route-id="@item.ID_Flight">Изменить</a>
                <a class="btn btn-outline-danger" asp-action="DeleteFlight" asp-controller="home" asp-route-id="@item.ID_Flight">Удалить</a>

            </td>
        </tr>
    }
</table>

<div>
    <a class=" btn btn-outline-primary" asp-action="AddFlight" asp-controller="home" asp-route-id="@Model.Admin.ID_User">Добавить рейс</a>
    <a class=" btn btn-outline-secondary" asp-action="Users" asp-controller="home" asp-route-id="@Model.Admin.ID_User">Сотрудники</a>
</div>